<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
  <form action="/admin/articles/<%= article._id %>?_method=PUT" method="POST" class="form-class">
    <div class="form">
      <label for="title">Title</label>
      <input required value="<%= article.title %>" type="text" name="title" id="title" class="form" />
    </div>
    <div class="form">
      <label for="description">Description</label>
      <textarea name="description" id="description" class="form"><%= article.description %></textarea>
    </div>
    <div class="form">
      <label for="tags">Tags</label>
      <input required value="<%= article.tags %>" type="text" name="tags" id="title" class="form" />
    </div>

    <div class="form">
      <label for="article">Article</label>
      <textarea required name="article" class="form" cols="30" rows="10"><%= article.article %></textarea>
    </div>

    <a href="/" class="editbut">Cancel</a>
    <button type="submit" class="submit editbut">Save</button>
  </form>
  <div class="markdownpreview">
    
  </div>
</body>

</html>